* {
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;

}
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}
#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 1px #555;
    margin: 0;
    padding: 0;
    max-width: 300px;
}
.banner_headline h2 {
    color: #fff;
    font-size: 22px;
    text-shadow: 0px 1px 1px #555;
    margin: 0;
    padding: 0;
    max-width: 300px;
    margin-top: 20px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,.banner2,.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 22px;
    margin-bottom: 20px;
}
.banner_desc {
    font-size: 15px;
    margin-bottom: 20px;
}
.banner_options a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
}
.banner_options a:hover {
    background-color: #2f7eaf;
}
.banner_desc1 {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
    text-align-last: justify;
    padding: 8px;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2
}
#geral aside {
    flex:1
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 8px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
article a {
    text-decoration: none;
}
article .news_thumb {
    margin-top: 20px;
}
article .news_thumb img {
    width: 100%;
    height: auto;
}
article .news_title {
    color: #000;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}
article .news_resum {
    font-size: 15px;
    line-height: 20px;
    color: #505050;
    margin-bottom: 20px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
}
.boxes div {
    background-color: #36a9e1;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.boxes div a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.widget_body_text {
    font-size: 14px;
    margin-bottom: 20px;
}
.contact1 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}
.contact1 img {
    width: 30px;
}
.contact1 .telphone {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;

}
.contact2 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #727272;
}
.contact2 img {
    width: 30px;
}
.contact2 .email {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
}
.contact3 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #727272;
}
.contact3 img {
    width: 30px;
}
.contact3 .page {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
}
footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.fm1, .fm2, .fm3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.fm1 {
    background-color: #39aae1;
}
.fm2 {
    background-color: #0079c7;
}
.fm3 {
    background-color: #2b4c99;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: #fff;
}
.flexcolumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: #fff;
}
.footer_copyrigth {
    color: #727272;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #757575;
    margin-top: 30px;
}
.footer_menu a {
    text-decoration: none;
    color: #fff;
}
.fm1_title, .fm2_title, .fm3_title {
    font-size: 22px;
}
.fm1_desc, .fm2_desc, .fm3_desc {
    font-size: 12px;
}
.text_desc_1 {
    font-size: 14px;
    margin-top: 25px;
    margin-right: 10px;
}
ul {
    list-style: none;
    padding: 0%;
}
.footer_address {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.phone_email {
    margin-top: 30px;
    margin-right: 20px;
}
.footer_address_icons {
    display: flex;
    justify-content: row;
}
.icon_facebook img, .icon_twitter img {
    width: 30px;
    padding: 10px;
}
.icon_email img {
    width: 35px;
    padding: 10px;
}
.icon_email {
    margin-top: 3px;
}
.widget_body .footer_links {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.widget_body .time_post {
    font-size: 12px;
    color: #0079c7;
}
.post1, .post2, .post3 {
    margin-top: 15px;
}
.tt1, .tt2, .tt3 {
    margin-top: 15px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 2px;
    background-color: #36a9e1;
}

@media (max-width:700px) {

    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        padding: 20px;
    }
    #geral section .widget {
        margin-top: 300px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        height: auto;
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copyrigth {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header {
        height: auto;
    }
    .logo {
        padding: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}